blinker==1.9.0
click==8.1.7
colorama==0.4.6
docx==0.2.4
docx2txt==0.8
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lxml==5.3.1
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.3
pillow==11.1.0
PyPDF2==3.0.1
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.5.0
tqdm==4.67.1
Werkzeug==3.1.3
